<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432656633766-242eg5fiovnesdi4vpkg1s3lfsu5kg2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432656633766-242eg5fiovnesdi4vpkg1s3lfsu5kg2j</string>
	<key>API_KEY</key>
	<string>AIzaSyDX7i9CfX0B24keIJOKnJJSEMtwU_vy72E</string>
	<key>GCM_SENDER_ID</key>
	<string>432656633766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.ColorCamera</string>
	<key>PROJECT_ID</key>
	<string>colorcamera-d9aec</string>
	<key>STORAGE_BUCKET</key>
	<string>colorcamera-d9aec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432656633766:ios:2e045815f59b7c99</string>
	<key>DATABASE_URL</key>
	<string>https://colorcamera-d9aec.firebaseio.com</string>
</dict>
</plist>